footer{
    float: left;
}
.box-wrap22{
    background: black;
   
}
.card22{
    background: black;
    color: rgba(250, 235, 215, 0.795);
    text-align: left;
   
}
.skate{
    font-family: 'DynaPuff', cursive;
    font-size: 22px;
    color: antiquewhite;
    height: 100%;
    width: 100%;
    display: table;
}
.skate p{
    margin: 0;

}
.noome{
    display: table-cell;
    vertical-align: middle;
}
.ultimo{
    border-top: 2px solid rgba(44, 42, 42, 0.336);
    padding-bottom: 2%;
    padding-top: 2%;
}
.card-info1{
    border-right: 2px solid rgba(44, 42, 42, 0.336);
  
}
.card-info2{
    border-right: 2px solid rgba(44, 42, 42, 0.336);
    border-left: 2px solid rgba(44, 42, 42, 0.336);
   
}
.card-info3{
    border-left: 2px solid rgba(44, 42, 42, 0.336);
  
}
.ano:hover{
    
    animation: 1s pulse forwards cubic-bezier(0.24, 0, 0.38, 1);
}

@keyframes pulse {
    0%{
      transform: scale(1);
    }
    25% {
      transform: scale(1.5);
    }
    50% {
      transform: scale(1.1);
    }
    75% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.5);
    }
  }